.name-section-top-sellers {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.discription-image-one {
 
   font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-color);
  height: 100%;
  width: 100%;
  max-width: 306px;
  
}

.item_pc {
  display: none;
}
.mobil-item {
  margin-top: 20px;
  margin-bottom: 32px;


}
.list-btn-text {
  display: flex;
  justify-content: center;
  
}
.top-sel-img {
  border-radius: 15px;
  width: 335px;
  height: 464px;

}
.top-sellers-list {
  
  display: block;
  
}
.button-top-sellers-modal {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--white);
  padding: 12px 28px;

  border: none;
  background-color: var(--accent-color);
  border-radius: 100px;
  transition: color var(--transition), background var(--transition);
}
.button-top-sellers-modal:hover,
.button-top-sellers-modal:focus {
  background: var(--active-button-color);
  color: var(--accent-color);
}
.button-div {
  display: flex;
  align-items: center;

  justify-content: center;
  margin-top: 20px;
}
.tablet-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-sel-img {
    width: 344px;
    
  
  }
  .top-sellers-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .tablet-item {
    display: block;
  }
  .mobil-item {
    display: none;
  }

  /*   .top-sellers-section {
    padding-top: 28px;
  } */
  .name-section-top-sellers {
    font-size: 24px;
    line-height: 1.16;

    margin-bottom: 50px;
  }
  .discription-image-one {
    margin-top: 32px;
  }
  .button-top-sellers-modal {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;

    color: var(--white);
    padding: 14px 40px;

    border: none;
    background-color: var(--accent-color);
    border-radius: 100px;
  }
  .button-div {
   margin-top: 32px;
  }
  .list-btn-text {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .item_pc {
    display: block;
  }
  .top-sel-img{
    width: 368px;
    
  
  }
  /*   .discription-image-one {
    position: absolute;
    max-width: 407px;
  } */
  /*   .top-sellers-section {
    padding-bottom: 104px;
  } */

}
